-r requirements.txt
djlint==1.34.0
pytest==7.4.3
pytest-django==4.7.0
python-dotenv==1.0.0
factory-boy==3.3.0
faker==20.1.0
ipykernel==6.27.0
django-role-permissions==3.2.0
django-debug-toolbar==4.2.0
django-split-settings==1.2.0
numpy
factryengine
django-background-tasks