{% extends 'base/main.html' %}
{% load permission_tags %}
{% block title %}
    {{ model_title }}
{% endblock title %}
{% load partials %}
{% partialdef partial-form %}
<form method="post"
    hx-post="{{ form_action_url }}"
    hx-redirect="true"
    hx-trigger="submit once"
    x-cloak>
    {% csrf_token %}
    {% comment %} Hidden ID {% endcomment %}
    {% if id %}<input type="hidden" name="id" value="{{ id }}">{% endif %}
    <div class="md:flex md:flex-wrap -mx-3">
        {% for field in form %}
            <div class="md:w-1/2 px-3 mb-6">
                <label for="{{ field.id_for_label }}"
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{ field.label }}
                    {% if field.field.required %}<span class="text-red-500">*</span>{% endif %}
                </label>
                {{ field }}
                {% if field.help_text %}<p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>{% endif %}
                {% for error in field.errors %}<p class="text-red-500 text-xs italic">{{ error }}</p>{% endfor %}
            </div>
            {% if forloop.counter|divisibleby:2 and not forloop.last %}
            </div>
            <div class="md:flex md:flex-wrap -mx-3">
            {% endif %}
        {% endfor %}
        
        {% if button_text == "Create"  %}
            {% if formset_form %}
                <div id="new-row-formset" class="flex-auto">
                    <!-- Management form fields for the formset -->
                    {{ formset_form.management_form }}
                    
                    <h2 class="ms-1 text-xl font-bold text-[#A1A5B7] md:ms-2 mb-2">Add {{ formset_title }} </h2>
                    <div class="flex flex-wrap overflow-x-auto h-80">
                                {% for formset in formset_form %}
                                    <div class="md:w-1/2 px-3 mb-6">
                                        <label for="{{ formset.id_for_label }}"
                                            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                            {{ formset.label }}
                                            {% if formset.field.required %}<span class="text-red-500">*</span>{% endif %}
                                        </label>
                                        {{ formset }}
                                        {% if formset.help_text %}<p class="text-gray-600 text-xs italic">{{ formset.help_text }}</p>{% endif %}
                                        {% for error in formset.errors %}<p class="text-red-500 text-xs italic">{{ error }}</p>{% endfor %}
                                        <a class="removeButton text-red-500 bg-[#F1F1F2] focus:ring-4 font-semibold rounded-md text-base p-3 text-center ms-1"
                                        href="{{ remove_formset_url }}"
                                        hx-get="{{ remove_formset_url }}"
                                        hx-swap="outerHTML"
                                        hx-target="body">
                                            Remove
                                        </a>
                                    </div>
                                {% if forloop.counter|divisibleby:2 and not forloop.last %} 
                            {% endif %} 
                        {% endfor %}
                    </div>
                    <div class="flex-auto flex items-center">
                        <a class="text-[#181C32] bg-[#F1F1F2] focus:ring-4 font-semibold rounded-md text-base w-12/12 px-6 py-3 text-center m-1"
                            href="{{ add_formset_url }}"
                            hx-get="{{ add_formset_url }}"
                            hx-swap="outerHTML"
                            hx-target="body">
                            Add
                        </a>
                    </div>
            </div>
        </div>  
            {% endif %}
    {% endif %}

        {% if custom_field_data %}
            {% if button_text == "Create" %}
                <div class="md:w-1/2 px-3 mb-6">
                    <label for="custom-field"
                        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Custom Field</label>
                        <div id="field-input" class="overflow-y-auto" style="height: 200px;">
                            <div id="custom-field-input" class="flex-row items-center">
                                <div class="flex items-center custom-field">
                                    <select class="border border-[#E1E3EA] text-gray-900 text-sm rounded-md focus:ring-blue-500 focus-visible:outline-none block w-8/12 p-3 m-1"
                                        name="key[]"
                                        onchange="changeFieldType(this)">
                                        {% for field_data in custom_field_data %}
                                            <option value="{{ field_data.1 }}">{{ field_data.2 }}</option>
                                        {% endfor %}
                                    </select>
                                    <input id="field-input-1" class="border border-[#E1E3EA] text-gray-900 text-sm rounded-md focus:ring-blue-500 focus-visible:outline-none block w-8/12 p-3 m-1"
                                        type="{{ custom_field_data.0.3 }}"
                                        name="value[]"
                                        value=""
                                        >
                                    <button type="button"
                                            class="removeButton text-red-500 bg-[#F1F1F2] focus:ring-4 font-semibold rounded-md text-base w-6/12 p-3 text-center m-1"
                                            onclick="removeField(this)">Delete</button>
                                </div>
                            </div>
                            <div id="new-row-custom-field"></div>
                        </div>
                        
                    <div class="flex-auto flex items-center">
                        <button id="addButton"
                            class="text-[#181C32] bg-[#F1F1F2] focus:ring-4 font-semibold rounded-md text-base w-12/12 px-6 py-3 text-center m-1"
                            hx-post="{{ add_formset_url }}"
                            hx-swap="outerHTML"
                            hx-target="#new-row-formset">
                            Add
                        </button>
                    </div>
                </div>

            {% endif %}
        {% endif %}
        

    </div>
    {% if not view_only %}
        <div class="flex justify-left mt-6 space-x-4">
            <button class="text-[#181C32] bg-[#F1F1F2] focus:ring-4 font-semibold rounded-md text-base w-full sm:w-auto px-6 py-3 text-center">
                Cancel
            </button>
            {% if view_mode %}
                {% if user|can:'actions_rule[0]' %}
                    <a href="{{ edit_url }}"
                    class="text-white bg-[#023E8A] focus:ring-4 font-semibold rounded-md text-base w-full sm:w-auto px-6 py-3 text-center">
                        {{ button_text }}
                    </a>
                {% endif %}
            {% else %}
                {% if user|can:'actions_rule[1]' %}
                    <button type="submit"
                            class="text-white bg-[#023E8A] focus:ring-4 font-semibold rounded-md text-base w-full sm:w-auto px-6 py-3 text-center">
                        {{ button_text }}
                    </button>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
</form>
{% endpartialdef %}
{% block content %}
    {% load static %}
    <div class="flex-wrap" x-cloak>
        <nav class="flex pb-4" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/"
                    class="inline-flex items-center text-xs font-semibold text-[#5E6278]">
                        <img class="h-4 w-4" src="{% static 'images/home-icon.svg' %}" />
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <img class="h-4 w-4" src="{% static 'images/right.svg' %}" />
                        <a href="{% url model_name %}"
                        class="ms-1 text-xs font-semibold text-[#5E6278] md:ms-2">{{ model_title }}</a>
                    </div>
                </li>
                <li>
                    {% if not view_only %}
                        {% if button_text == "Create" %}
                            <div class="flex items-center">
                                <img class="h-4 w-4" src="{% static 'images/right.svg' %}" />
                                <a href="{% url model_name|add:'_form' %}"
                                class="ms-1 text-xs font-semibold text-[#5E6278] md:ms-2">New</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <img class="h-4 w-4" src="{% static 'images/right.svg' %}" />
                        <span class="ms-1 text-xs font-semibold text-[#A1A5B7] md:ms-2">{{ model_title }} Details</span>
                    </div>
                </li>
            </ol>
        </nav>
        <div>
            <h1 class="text-2xl font-semibold text-[#181C32] pb-5">{{ page_label }}</h1>
        </div>
    </div>
    <div class="rounded-xl bg-white px-8 py-8 w-full" x-cloak>
        <div>
            <h1 class="text-xl font-semibold text-[#5E6278] pb-8">{{ form_label }}</h1>
        </div>
        {% block form %}
            {% partial partial-form %}
        {% endblock form %}
    </div>
    {% if button_text != "Create" %}
        <div class="mt-6" x-data="{ activeTab: 'tab1' }" x-cloak>
            <!-- Tabs -->
            <div class="bg-white pt-7 px-7 border-b border-[#e1e3ea80] rounded-t-xl">
                <div class="md:flex flex-wrap text-sm md:text-base">
                    {% for i in relations_headers %}
                        <button hx-get="/{{ field_url }}/view/{{ id }}/field={{ i|lower }}"
                                hx-target="#{{ i }}"
                                hx-trigger="click"
                                x-on:click="activeTab = 'tab{{ forloop.counter }}'"
                                :class="{ 'border-b-4 rounded border-[#00B4D8]': activeTab === 'tab{{ forloop.counter }}' }"
                                class="mr-2.5 md:mr-12 cursor-pointer focus:outline-none">{{ i }}</button>
                    {% endfor %}
                </div>
                <!-- Tab Content -->
                <div class="bg-white pt-6 rounded-b-xl flex h-screen">
                    {% for i in relations_headers %}
                        <div id={{ i }} x-show="activeTab === 'tab{{ forloop.counter }}'" class="w-full">
                            <div class="pt-6">
                                <div class="relative overflow-x-auto table-container">{% include "objects/list.html#partial-table-template" %}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const addButton = document.getElementById('addButton');
                addButton.addEventListener('click', function(event) {
                    event.preventDefault(); 
                    const customFields = document.querySelectorAll('.custom-field');
                    const customFieldDataLength = {{ custom_field_data|length }};
                    
                    if (customFields.length >= customFieldDataLength) {
                        return;
                    }

                    const newRow = document.createElement('div');
                    newRow.id = 'custom-field-input';
                    newRow.className = 'flex-row items-center';
                    newRow.innerHTML = `
                        <div id="custom-field-input" class="flex-row items-center">
                            <div class="flex items-center custom-field">
                                <select class="border border-[#E1E3EA] text-gray-900 text-sm rounded-md focus:ring-blue-500 focus-visible:outline-none block w-8/12 p-3 m-1"
                                    name="key[]"
                                    onchange="changeFieldType(this)">
                                    {% for field_data in custom_field_data %}
                                        <option value="{{ field_data.1 }}">{{ field_data.2 }}</option>
                                    {% endfor %}
                                </select>
                                <input id="field-input-1" class="border border-[#E1E3EA] text-gray-900 text-sm rounded-md focus:ring-blue-500 focus-visible:outline-none block w-8/12 p-3 m-1"
                                    type="{{ custom_field_data.1.3 }}"
                                    name="value[]"
                                    value=""
                                    >
                                <button type="button"
                                        class="removeButton text-red-500 bg-[#F1F1F2] focus:ring-4 font-semibold rounded-md text-base w-6/12 p-3 text-center m-1"
                                        onclick="removeField(this)">Delete</button>
                            </div>
                        </div>
                    `;
                    document.getElementById('new-row-custom-field').appendChild(newRow);
                });
            });

            function removeFormsetForm(button) {
                // update form count
                document.getElementById('id_criteria-TOTAL_FORMS').value = parseInt(document.getElementById('id_criteria-TOTAL_FORMS').value) - 1;

                button.parentNode.parentNode.remove();
            };

            function removeField(button) {
                button.parentNode.parentNode.remove();
            };

            function changeFieldType(select) {
                const input = select.nextElementSibling;
                const optionValue = select.value;
                const fieldType = getFieldDataType(optionValue);
                input.type = fieldType;
            };

            function getFieldDataType(optionValue) {
                console.log(optionValue);
                const customFieldData = {{ custom_field_data|safe }};
                for (let i = 0; i < customFieldData.length; i++) {
                    if (customFieldData[i][1] === optionValue) {
                        console.log(customFieldData[i][3]);
                        return customFieldData[i][3];
                    }
                }
                return "text";
            };


        </script>
    {% endblock content %}
