{% extends 'base/main.html' %}
{% load permission_tags %}
{% load common_filters %}
{% block title %} {{ model_title }} {% endblock title %}
{% load static %}
{% load partials %}


{% partialdef inline-model-form %}
    {% include 'components/details/inline-form.html' %}
{% endpartialdef %}

{% partialdef partial-form %}
    {% include 'components/details/form.html' %}
{% endpartialdef %}

{% partialdef model-relation-editable-table %}
    {% include 'components/details/edit-form-table.html' %}
{% endpartialdef %}

{% block content %}
<div class="flex-wrap" x-cloak>
    <nav class="flex pb-4" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
                <a href="/dashboard/gantt-type=job/home=true" class="inline-flex items-center text-xs font-semibold text-[#5E6278]">
                    <img class="h-4 w-4" src="{% static 'images/home-icon.svg' %}" />
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <img class="h-4 w-4" src="{% static 'images/right.svg' %}" />
                    <a href="{% url model_name %}" class="ms-1 text-xs font-semibold text-[#5E6278] md:ms-2">{{ model_title }}</a>
                </div>
            </li>
            <li>
                {% if not view_only %}
                    {% if button_text == "Create" %}
                        <div class="flex items-center">
                            <img class="h-4 w-4" src="{% static 'images/right.svg' %}" />
                            <a href="{% url model_name|add:'_form' %}"
                                class="ms-1 text-xs font-semibold text-[#5E6278] md:ms-2">New</a>
                        </div>
                    {% endif %}
                {% endif %}
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <img class="h-4 w-4" src="{% static 'images/right.svg' %}" />
                    <span class="ms-1 text-xs font-semibold text-[#A1A5B7] md:ms-2">{{ model_title }} Details</span>
                </div>
            </li>
        </ol>
    </nav>
    <div>
        <h1 class="text-2xl font-semibold text-[#181C32] pb-5">{{ page_label }}</h1>
    </div>
</div>
<div class="rounded-xl bg-white px-8 py-8 w-full" x-cloak>
    <div>
        <h1 class="text-xl font-semibold text-[#5E6278] pb-8">{{ form_label }}</h1>
    </div>
    {% block form %}
    {% partial partial-form %}
    {% endblock form %}
</div>
{% if button_text != "Create" %}
<div class="mt-6" x-data="{ activeTab: 'tab1' }" x-cloak>
    <!-- Tabs -->
    <div class="bg-white pt-7 px-7 border-b border-[#e1e3ea80] rounded-t-xl">
        <div class="md:flex flex-wrap text-sm md:text-base">
            {% for header in relations_headers %}
                <button hx-get="/{{ field_url }}/view/{{ id }}/field={{ header|lower }}" hx-target="#{{ header }}" hx-trigger="click"
                    x-on:click="activeTab = 'tab{{ forloop.counter }}'"
                    :class="{ 'border-b-4 rounded border-[#00B4D8]': activeTab === 'tab{{ forloop.counter }}' }"
                    class="mr-2.5 md:mr-12 cursor-pointer focus:outline-none">
                    {{ header|table_header }}
                </button>
            {% endfor %}
        </div>
        <!-- Tab Content -->
        <div class="bg-white pt-6 rounded-b-xl flex h-screen">
            {% for header in relations_headers %}
            <div id={{ header }} x-show="activeTab === 'tab{{ forloop.counter }}'" class="w-full">
                {% partial model-relation-editable-table %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    {% endif %}
    <script>
        function removeField(button) {
            button.parentNode.parentNode.remove();
        };

        function deleteAssignmentConstriants(constraintsCheckboxId) {
            // to delete the assignment constraint
            const constraintsCheckbox = document.getElementById(constraintsCheckboxId);
            if (!constraintsCheckbox.checked) {
                constraintsCheckbox.checked = true;
            }
        };

        function subModelRelationData(initialRows = [], initialHeaders = []) {
            // to be used in x-data for tableData
            return {
                rows: initialRows.map(row => ({ ...row, isEditing: false, selected: false })),

                headers: initialHeaders,

                currentPage: 1,
                rowsPerPage: 25,

                get totalPages() {
                    // Calculate total pages
                    return Math.ceil(this.rows.length / this.rowsPerPage);
                },
                get paginatedRows() {
                    // Calculate start and end index of rows
                    const start = (this.currentPage - 1) * this.rowsPerPage;
                    const end = start + this.rowsPerPage;
                    return this.rows.slice(start, end);
                },
                get startIndex() {
                    // Calculate start index of rows
                    return (this.currentPage - 1) * this.rowsPerPage + 1;
                },
                get endIndex() {
                    // Calculate end index of rows
                    return Math.min(this.currentPage * this.rowsPerPage, this.rows.length);
                },

                selectAll: false,

                // Select all rows
                toggleSelectAll() {
                    this.selectAll = !this.selectAll;
                    this.paginatedRows.forEach(row => row.selected = this.selectAll);
                },

                // Edit row data
                editRow(index) {
                    this.paginatedRows.forEach((row, i) => {
                        if (i !== index) {
                            row.isEditing = false;
                        }
                    });
                    this.paginatedRows[index].isEditing = true;
                },

                // Cancel editing row
                cancelEdit(index) {
                    if (this.paginatedRows[index].id.value === '') {
                        this.rows.splice((this.currentPage - 1) * this.rowsPerPage + index, 1);
                    } else {
                        this.paginatedRows[index].isEditing = false;
                    }
                },

                // Update row data after saving or deleting
                updateRowData(responseData) {
                    this.rows = this.rows.map(row => {
                        if (row.id.value === responseData.id) {
                            return { ...responseData, isEditing: false, selected: false };
                        }
                        return row;
                    });
                },

                // Save row data
                async saveRow(index, saveUrl) {
                    const rowData = this.paginatedRows[index];
                    const formData = new FormData();
                    for (const key in rowData) {
                        if (key !== 'isEditing' && key !== 'selected') {
                            formData.append(key, rowData[key].value);
                        }
                    }

                    const response = await fetch(saveUrl, {
                        method: 'POST',
                        body: formData,
                    });

                    if (response.ok) {
                        const responseData = await response.json();
                        this.updateRowData(responseData);
                    };

                    this.paginatedRows[index].isEditing = false;
                },

                // Add new row to the table
                addNewRow() {
                    // Check if there is already a row in editing mode
                    const editingRow = this.paginatedRows.find(row => row.isEditing);
                    if (editingRow) {
                        alert("Please save or cancel the current editing row before adding a new one.");
                        return;
                    }

                    this.paginatedRows.forEach(row => row.isEditing = false);

                    const newRow = {};
                    for (const key in this.rows[0]) {
                        if (this.rows[0].hasOwnProperty(key)) {
                            const value = this.rows[0][key];
                            newRow[key] = { ...value, value: (value.type === 'boolean') ? false : '' };
                        }
                    }

                    newRow.isEditing = true;
                    newRow.selected = false;

                    this.rows.push(newRow);
                    this.currentPage = this.totalPages;
                },

                // Go to the previous page
                prevPage() {
                    if (this.currentPage > 1) {
                        this.currentPage--;
                    }
                },

                // Go to the next page
                nextPage() {
                    if (this.currentPage < this.totalPages) {
                        this.currentPage++;
                    }
                },

                // Delete row from the table
                async deleteRow(rowID, deleteUrl) {
                    const response = await fetch(deleteUrl.replace('/0/', `/${rowID}/`), {
                        method: 'DELETE',
                    });

                    if (response.ok) {
                        this.rows = this.rows.filter(row => row.id.value !== rowID);
                        this.currentPage = Math.min(this.currentPage, this.totalPages);
                    }
                }
            }
        }

    </script>
{% endblock content %}