{% load static %}
{% load user_role %}

{% partialdef _menu_items_names %}
      <a id="{{user_menu_item_id}}" href="{{user_menu_item_url}}" class="flex items-center hover:text-gray-800 focus-visible:bg-gray-300 focus-visible:text-gray-800 focus-visible:outline-none block px-4 py-2 p-1 text-sm text-gray-900 hover:bg-gray-200">
        <img src="{% static user_menu_item_icon %}" class="h-6 w-6" />
        <span class="ml-2">{{ user_menu_item_name }}</span>
      </a>
{% endpartialdef %}

<div class="flex items-center justify-between h-16 bg-white fixed top-0 z-50 w-full ">
  <div class="flex items-center px-4">
    <div class="p-2.5 mt-1 flex items-center rounded-md ">
      <!-- Logo -->
      <div class="hidden lg:inline-flex  items-center">
        <a href="/">
          <img src="{% static 'images/FactryFlow.svg' %}" alt="Logo" class="mr-9 ml-1 w-40 h-10 lg:w-56 md:h-10" />
        </a>
      </div>
    </div>

    <span class="lg:hidden absolute text-white text-4xl top-3 left-3 cursor-pointer" :class="transition duration 700 :Openbar()" onclick="Openbar()">
      <!-- Menu Bar Icon -->                
      <div class="flex items-center mx-2.5 max-sm:mx-0 bg-[#181c320d] p-1.5 rounded-md">
        <button type="button">
          <img class="w-8 h-8 md:w-8 md:h-8 max-sm:w-6 max-sm:h-6" src="{% static 'images/menu_open.svg' %}" />
        </button>
      </div>
    </span>

    <div class="p-2.5 md:ml-8 max-md:ml-8 sm:ml-8 max-sm:ml-2 flex items-center rounded-md justify-center">
      <!-- Logo -->
      <div class="inline-flex lg:hidden  items-center">
        <a href="/">
          <img src="{% static 'images/FactryFlow.svg' %}" alt="Logo" class="w-40 h-10 lg:w-56 md:h-10 max-sm:w-28 max-sm:h-5" />
        </a>
      </div>
    </div>
    <!-- Search Bar with SVG Icon -->
    <div class="relative w-32 lg:w-[584px] max-sm:w-28 sm:w-auto hidden lg:block">
        <!-- Inline SVG Icon -->
        <img class="w-5 h-5 absolute left-3 max-sm:left-1 top-1/2 transform -translate-y-1/2 z-10 text-gray-400"
          src="{% static 'images/search.svg' %}" />
        <!-- Search Input -->
        <input type="text" placeholder="Search..."
          class="w-full pl-10 max-sm:pl-6 p-2 max-sm:text-sm focus:outline-none border border-[#E1E3EA] rounded-[9px] shadow-[0px_3px_4px_0px_rgba(0,0,0,0.03)]" />
      </div>
    </div>
  
  <div class="flex items-center pr-4 md:space-x-5 sm:space-x-2 max-sm:space-x-1">
    <!-- TODO: Notification Icon 
    <div class=" md:inline-flex relative items-center bg-[#181c320d] p-2.5 rounded-md">
      <img class="w-6 h-6" src="{% static 'images/notifications.svg' %}" />
      <div class="absolute top-0 right-2">
        <span
          class="inline-flex items-center rounded-[50px] bg-[#2884EF] px-1.5 md:px-1 max-sm:px-1 text-xs font-semibold text-white">2</span>
      </div>
    </div> -->

      <!-- Desktop Menu -->
    <ul id="user-menu" class="hidden items-center gap-4 sm:flex">
      <li x-data="{ userDropDownIsOpen: false, openWithKeyboard: false }" 
        @keydown.esc.window="userDropDownIsOpen = false, openWithKeyboard = false" 
        class="relative flex items-center">
        
        <button id="userDropDown" @click="userDropDownIsOpen = ! userDropDownIsOpen" 
                :aria-expanded="userDropDownIsOpen" 
                class="inline-flex items-center bg-[#181c320d] py-4 px-5 rounded-full" 
                aria-controls="userMenu">
            <h1 class="text-lg leading-4 font-semibold text-[#2884EF]"> 
                {% if user.first_name %}
                    {{ user.first_name.0 }}
                {% elif user.last_name %}
                    {{ user.last_name.0 }}
                {% else %}
                    {{ user.username.0 }}
                {% endif %}
            </h1>
        </button>
        
        <!-- User Dropdown -->
        <ul x-cloak 
            x-show="userDropDownIsOpen || openWithKeyboard" 
            x-transition.opacity 
            x-trap="openWithKeyboard" 
            @click.outside="userDropDownIsOpen = false, openWithKeyboard = false" 
            @keydown.down.prevent="$focus.wrap().next()" 
            @keydown.up.prevent="$focus.wrap().previous()" 
            id="userMenu" 
            class="absolute right-0 top-20 flex w-full min-w-[18rem] flex-col overflow-hidden rounded-xl border border-gray-300 py-1.5 bg-gray-100">
            
            <li class="border-b border-gray-300">
                <div class="flex flex-col px-4 py-2 space-y-1 justify-center items-center">  
                    <div class="inline-flex items-center bg-[#181c320d] py-4 px-5 rounded-full">
                        <h1 class="text-lg leading-4 font-semibold text-[#2884EF]"> 
                            {% if user.first_name %}
                                {{ user.first_name.0 }}
                            {% elif user.last_name %}
                                {{ user.last_name.0 }}
                            {% else %}
                                {{ user.username.0 }}
                            {% endif %}
                        </h1>
                    </div>  
                    <span class="text-sm font-medium text-gray-900">
                        Hello, {{ user.first_name }} - {% get_current_user_role user %} 
                    </span>
                    <p class="text-xs text-gray-700">{{ user.email }}</p>
                </div>
            </li>
            <li class="border-b border-gray-300">
                {% with user_menu_item_id="user-dashboard" user_menu_item_url="/dashboard" user_menu_item_icon='images/Dashboard.svg' user_menu_item_name='Dashboard' %}
                    {% partial _menu_items_names %}
                {% endwith %}
            </li>
            <li>
                {% with user_menu_item_id="user-settings" user_menu_item_url="/settings" user_menu_item_icon='images/user_settings.svg' user_menu_item_name='User Settings' %}
                    {% partial _menu_items_names %}
                {% endwith %}
            </li>
            <li class="border-b border-gray-300">
                {% with user_menu_item_id="all-settings" user_menu_item_url="/settings" user_menu_item_icon='images/Setting.svg' user_menu_item_name='Settings' %}
                    {% partial _menu_items_names %}
                {% endwith %}
            </li>
            <li>
                {% with user_menu_item_id="user-logout" user_menu_item_url="/accounts/logout" user_menu_item_icon='images/logout.svg' user_menu_item_name='Logout' %}
                    {% partial _menu_items_names %}
                {% endwith %}
            </li>
        </ul>
    </li>
    </ul>
  </div>
</div>
