{% load static %}
<header class="fixed top-0 z-50 bg-white p-4 w-full">
  <div class="flex items-center justify-between md:justify-start md:space-x-5 h-10">

    <!-- Logo -->
    <div class="flex items-center">
      <a href="/">
        <img src="{% static 'images/FactryFlow.svg' %}" alt="Logo" class="mr-8 ml-1 w-40 h-10 md:w-56 md:h-10" />
      </a>
    </div>

    <!-- Menu Bar Icon -->
    <div class="flex items-center ml-2.5 mr-2.5 bg-[#181c320d] p-1.5 rounded-md">
      <button @click="isSidebarHidden = !isSidebarHidden" type="button">
        <img class="w-8 h-8" src="{% static 'images/menu_open.svg' %}" />
      </button>
    </div>

    <!-- Search Bar with SVG Icon -->
    <div class="relative w-48 md:w-[584px]">
      <!-- Inline SVG Icon -->
      <img class="w-5 h-5 absolute left-3 top-1/2 transform -translate-y-1/2 z-10 text-gray-400"
        src="{% static 'images/search.svg' %}" />
      <!-- Search Input -->
      <input type="text" placeholder="Search..."
        class="w-full pl-10 p-2 focus:outline-none border border-[#E1E3EA] rounded-[9px] shadow-[0px_3px_4px_0px_rgba(0,0,0,0.03)]" />
    </div>
    <div class="flex-grow"></div>

    <!-- Notification Icon -->
    <div class="hidden md:flex items-center bg-[#181c320d] p-2.5 rounded-md">
      <img class="w-6 h-6" src="{% static 'images/notifications.svg' %}" />

      <!-- Badge -->
      <div class="absolute top-3.5">
        <span
          class="inline-flex items-center rounded-[50px] bg-[#2884EF] px-1.5 py-px text-xs font-semibold text-white">2</span>
      </div>
    </div>

    <!-- User Initial -->
    <div class="hidden md:flex items-center bg-[#181c320d] py-4 px-5 rounded-full">
      <h1 class="text-lg leading-4 font-semibold text-[#2884EF]">J</h1>
    </div>

    <!-- User name -->
    <div class="hidden md:flex items-center">
      <h3 class="text-base leading-4 font-semibold text-[#181C32] mr-5 md:mr-10">
        Jacob Jones
      </h3>
    </div>
  </div>
</header>