{% load static %}
{% load partials %}
{% load permission_tags %}
{% load user_role %}
{% partialdef _menu_item %}
<li>
  <a href="{{ menu_item_url }}"
     hx-target="#main-content"
     hx-push-url="true"
     class="w-full flex py-2.5 pl-3 text-sm leading-5 rounded-lg items-center"
     x-data="{isHovered:false}"
     x-on:mouseover="isHovered = true"
     x-on:mouseleave="isHovered = false"
     @click="$store.sidebar.active = '{{ menu_item_id }}'; $dispatch('close-all-dropdowns');"
     :class="{ 'border-l-[3px] bg-[#023e8a0d] text-[#023E8A] custom-filter': $store.sidebar.active == '{{ menu_item_id }}' || isHovered }">
    <img class="h-6 w-6" src="{% static menu_item_icon %}" />
    <span class="ml-4" :class="$store.sidebar.full ? 'block' : 'hidden'">{{ menu_item_name }}</span>
  </a>
</li>
{% endpartialdef %}
{% partialdef _dropdown_menu_item %}
<li x-cloak>
  <a href="{{ menu_item_url }}"
     class="flex py-2 text-sm leading-5 font-semibold rounded-lg items-center transition duration-75"
     x-data="{isHovered:false}"
     @click="active='{{ menu_item_id }}'; $dispatch('close-all-dropdowns')"
     x-on:mouseover="isHovered = true"
     x-on:mouseleave="isHovered = false"
     :class="{'text-[#023E8A]  custom-filter': active == '{{ menu_item_id }}' || isHovered}">
    <img class="h-2 w-2"
         :class="{ 'h-2.5 w-2.5': isHovered || active == '{{ menu_item_id }}' }"
         src="{% static 'images/dot.svg' %}" />
    <span class="ml-4" :class="$store.sidebar.full ? 'block' : 'hidden'">{{ menu_item_name }}</span>
  </a>
</li>
{% endpartialdef %}
{% partialdef _dropdown_menu %}
<button type="button"
        @click="toggle('{{ menu_item_id }}'); $dispatch('close-all-dropdowns', '{{ menu_item_id }}')"
        x-data="{ isHovered: false }"
        x-cloak
        x-on:mouseover="isHovered = true"
        x-on:mouseleave="isHovered = false"
        class="w-full flex py-2.5 px-3 text-sm leading-5 rounded-lg items-center"
        :class="{ 'border-l-[3px] bg-[#023e8a0d] text-[#023E8A] custom-filter': $store.sidebar.active == '{{ menu_item_id }}' || isHovered}">
  <div class="flex items-center">
    <img src="{% static menu_item_icon %}" class="h-6 w-6" />
    <span class="ml-4">{{ menu_item_name }}</span>
  </div>
  <img class="h-6 w-6 ml-auto"
       :src="!open ? '{% static 'images/RightArrow.svg' %}' : '{% static 'images/down-arrow.svg' %}'" />
</button>
{% endpartialdef %}
<div class="container overflow-x-hidden sidebar z-20 lg:z-0 fixed top-16 bottom-0 lg:left-0 left-[-300px] duration-1000 p-2 w-[300px] overflow-y-auto text-center bg-white h-auto"
     x-cloak>
  <div class="p-3 mt-4 flex items-left rounded-md duration-300 cursor-pointer md:hidden bg-white shadow-sm border-b border-gray-300">
    <!-- User details Mobile menu -->
    <div class="inline-flex items-center bg-[#181c320d] py-3 px-4 rounded-full">
      <h1 class="text-base font-semibold text-[#2884EF]">
        {% if user.first_name %}
          {{ user.first_name.0 }}
        {% elif user.last_name %}
          {{ user.last_name.0 }}
        {% else %}
          {{ user.username.0 }}
        {% endif %}
      </h1>
    </div>
    <div class="ml-3">
      <span class="block text-sm font-medium text-gray-900 truncate">{{ user.first_name }} - {% get_current_user_role user %}</span>
      <p class="text-xs text-gray-600 truncate">{{ user.email }}</p>
    </div>
  </div>
  <div class="p-2.5 mt-3 flex items-left rounded-md duration-300 cursor-pointer">
    <!-- Sidebar content (links, icons, etc.) -->
    <div class="text-[#A1A5B7] ml-2">
      <h1 class="flex leading-5 font-medium uppercase">Management</h1>
    </div>
  </div>
  <nav class="text-[#5E6278] ml-2.5">
    <ul class="space-y-5 font-semibold">
      {% comment %} dashboard menu {% endcomment %}
      {% with menu_item_id='dashboard' menu_item_icon='images/dashboard.svg' menu_item_name='Dashboard' menu_item_url="/dashboard/gantt-type=job/home=true" %}
        {% partial _menu_item %}
      {% endwith %}
      {% comment %} Production Menu {% endcomment %}
      <div x-data="dropdown">
        {% with menu_item_id='Production' menu_item_icon='images/production.svg' menu_item_name='Production' %}
          {% partial _dropdown_menu %}
        {% endwith %}
        <ul x-show="open"
            @click.outside="open=false"
            class="w-full space-y-2.5 ml-5 mt-4"
            style="display: none">
          {% with menu_item_id='jobs' menu_item_name='Jobs' menu_item_url="/jobs" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='jobs-priority' menu_item_name='Priority Manager' menu_item_url="/job-prioritization" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='tasks' menu_item_name='Tasks' menu_item_url="/tasks" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='dependencys' menu_item_name='Dependency' menu_item_url="/dependencies" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='workcenters' menu_item_name='WorkCenter' menu_item_url="/work-centers" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='item' menu_item_name='Item' menu_item_url="/items" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
        </ul>
      </div>
      {% comment %} Resource Management Menu {% endcomment %}
      <div x-data="dropdown">
        {% with menu_item_id='RM' menu_item_icon='images/resource-management.svg' menu_item_name='Resource Management' %}
          {% partial _dropdown_menu %}
        {% endwith %}
        <ul x-show="open"
            @click.outside="open=false"
            class="w-full space-y-2.5 ml-5 mt-4"
            style="display: none">
          {% with menu_item_id='resources' menu_item_name='Resources' menu_item_url="/resources" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='RG' menu_item_name='Resources Group' menu_item_url="/resource-groups" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
        </ul>
      </div>
      {% comment %} Microbatching Menu {% endcomment %}
      <div x-data="dropdown">
        {% with menu_item_id='MB' menu_item_icon='images/microbatching.svg' menu_item_name='Microbatching' %}
          {% partial _dropdown_menu %}
        {% endwith %}
        <ul x-show="open"
            @click.outside="open=false"
            class="w-full space-y-2.5 ml-5 mt-4"
            style="display: none">
          {% with menu_item_id='MF' menu_item_name='Microbatch Flows' menu_item_url="/microbatch-flows" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='MR' menu_item_name='Microbatch Rules' menu_item_url="/microbatch-rules" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
        </ul>
      </div>
      {% comment %} Resource Calender Menu {% endcomment %}
      <div x-data="dropdown">
        {% with menu_item_id='RC' menu_item_icon='images/resource-calender.svg' menu_item_name='Resource Calender' %}
          {% partial _dropdown_menu %}
        {% endwith %}
        <ul x-show="open"
            @click.outside="open=false"
            class="w-full space-y-2.5 ml-5 mt-4"
            style="display: none">
          {% with menu_item_id='WST' menu_item_name='Weekly Shift Template' menu_item_url="/weekly-shift-templates" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          <!-- {% with menu_item_id='WSTD' menu_item_name='Weekly Shift Template Details' menu_item_url="/weekly_shift_template_details" %}
            {% partial _dropdown_menu_item %}
          {% endwith %} -->
          {% with menu_item_id='OE' menu_item_name='Operational Exception' menu_item_url="/operational-exceptions" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
        </ul>
      </div>
      {% comment %} Resource Assigner Menu {% endcomment %}
      <div x-data="dropdown">
        {% with menu_item_id='RA' menu_item_icon='images/resource-assigner.svg' menu_item_name='Resource Assigner' %}
          {% partial _dropdown_menu %}
        {% endwith %}
        <ul x-show="open"
            @click.outside="open=false"
            class="w-full space-y-2.5 ml-5 mt-4"
            style="display: none">
          {% with menu_item_id='resources-assignment' menu_item_name='Resources Assignment' menu_item_url="/task-resource-assigments" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='AR' menu_item_name='Assignment Rule' menu_item_url="/assigment-rules" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          <!-- {% with menu_item_id='ARC' menu_item_name='Assignment Rule Criteria' menu_item_url="/assigment-rule-criteria" %}
            {% partial _dropdown_menu_item %}
          {% endwith %} -->
          {% with menu_item_id='AC' menu_item_name='Assignment Constraints' menu_item_url="/assignment-constraints" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
        </ul>
      </div>
      <!-- Scheduler View Menu -->
      <div x-data="dropdown">
        {% with menu_item_id='SS' menu_item_icon='images/scheduler.svg' menu_item_name='Scheduler' %}
          {% partial _dropdown_menu %}
        {% endwith %}
        <ul x-show="open"
            @click.outside="open=false"
            class="w-full space-y-2.5 ml-5 mt-4"
            style="display: none">
          {% with menu_item_id='scheduler_runs' menu_item_name='Scheduler History' menu_item_url="/scheduler-runs" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
        </ul>
      </div>
      {% comment %} Types Menu {% endcomment %}
      <div x-data="dropdown">
        {% with menu_item_id='datatype' menu_item_icon='images/data-types.svg' menu_item_name='Data Type & Custom fields' %}
          {% partial _dropdown_menu %}
        {% endwith %}
        <ul x-show="open"
            @click.outside="open=false"
            class="w-full space-y-2.5 ml-5 mt-4"
            style="display: none">
          {% with menu_item_id='job-type' menu_item_name='Job Type' menu_item_url="/job-types" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='task-type' menu_item_name='Task Types' menu_item_url="/task-types" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='dependency-type' menu_item_name='Dependency Type' menu_item_url="/dependency-types" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='operational-exception-type' menu_item_name='Operational Exception Type' menu_item_url="/operational-exception-types/" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='custom-field' menu_item_name='Custom Field' menu_item_url="/custom-fields" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
        </ul>
      </div>
      <!-- Settings menu -->
      {% comment %} setting menu {% endcomment %}
      <div x-data="dropdown">
        {% with menu_item_id='settings' menu_item_icon='images/Setting.svg' menu_item_name='Settings' %}
          {% partial _dropdown_menu %}
        {% endwith %}
        <ul x-show="open"
            @click.outside="open=false"
            class="w-full space-y-2.5 ml-5 mt-4"
            style="display: none">
          {% with menu_item_id='scheduler_settings' menu_item_name='Scheduler' menu_item_url="/settings" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% with menu_item_id='account_settings' menu_item_name='My Account' menu_item_url="/users/my-account" %}
            {% partial _dropdown_menu_item %}
          {% endwith %}
          {% if user|can:'view_user' %}
            {% with menu_item_id='user_management' menu_item_name='User Management' menu_item_url="/users" %}
              {% partial _dropdown_menu_item %}
            {% endwith %}
          {% endif %}
        </ul>
      </div>
      <!-- TODO -->
      <!-- {% comment %} Help and Support manu {% endcomment %}
            {% with menu_item_id='HS' menu_item_icon='images/h-s.svg' menu_item_name='Help & Support' menu_item_url='#' %}
              {% partial _menu_item %}
            {% endwith %} -->
      <!-- {% comment %} operator menu {% endcomment %}
            {% with menu_item_id='OV' menu_item_icon='images/h-s.svg' menu_item_name='Operator View' menu_item_url='/operatorview' %}
              {% partial _menu_item %}
            {% endwith %} -->
      {% comment %} Logout {% endcomment %}
      {% with menu_item_id='logout' menu_item_icon='images/logout.svg' menu_item_name='Logout' menu_item_url='/accounts/logout/' %}
        {% partial _menu_item %}
      {% endwith %}
    </ul>
    <!-- Add more sidebar links here -->
  </nav>
</div>
