{% load static %}
<div
  class="container h-full overflow-y-auto overflow-x-hidden bg-white text-gray-500 space-y-6 py-2 px-2 mr-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition-all duration-200 ease-in-out"
  :class="sidebarOpen ? 'w-72' : 'w-20'"
  x-data="{activeMenuItem: null,activeSubMenuItem:null}"
  style="height: calc(100vh - 80px)"
>
  ​
  <!-- Sidebar content (links, icons, etc.) -->
  <div class="text-[#A1A5B7] ml-6">
    <h1
      class="flex leading-5 font-medium uppercase"
      :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
    >
      Management
    </h1>
  </div>
  <nav class="text-[#5E6278] ml-2.5">
    <ul class="space-y-5 font-semibold">
      <li>
        <a
          href="#"
          class="w-full flex py-2.5 pl-3 text-sm leading-5 rounded-lg items-center hover:border-l-[3px] hover:bg-[#023e8a0d] hover:text-[#023E8A] custom-filter"
          @click="activeMenuItem = 'dashboard'"
          :class="{ 'border-l-[3px] bg-[#023e8a0d] text-[#023E8A]': activeMenuItem === 'dashboard'}"
          :style="{ filter: (activeMenuItem === 'dashboard') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
        >
          <img src="{% static 'images/Dashboard.svg' %}" class="h-6 w-6" />
          <span class="ml-4" :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
            >Dashboard</span
          >
        </a>
      </li>
      ​
      <li x-data="{dropdownMenu: false}">
        <button
          type="button"
          class="menu-item w-full flex py-2.5 pl-3 text-sm leading-5 rounded-lg items-center hover:border-l-[3px] hover:bg-[#023e8a0d] hover:text-[#023E8A]"
          @click="activeMenuItem = 'production',dropdownMenu = ! dropdownMenu"
          :class="{ 'border-l-[3px] bg-[#023e8a0d] text-[#023E8A]': activeMenuItem === 'production'}"
          :style="{ filter: (activeMenuItem === 'production') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
        >
          <img src="{% static 'images/Production.svg' %}" class="h-6 w-6" />
          <span
            class="ml-4 mr-24"
            :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
            >Production</span
          >
          <img
            class="h-6 w-6"
            :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
            src="{% static 'images/RightArrow.svg' %}"
          />
        </button>
        <ul x-show="dropdownMenu" class="w-full space-y-2.5 ml-5">
          <li>
            <a
              href="/job"
              class="sub-menu-item flex py-2.5 text-sm leading-5 font-semibold rounded-lg items-center hover:text-[#023E8A] transition duration-75"
              @click="activeSubMenuItem = 'jobs',activeMenuItem = 'production'"
              :class="{'text-[#023E8A]': activeSubMenuItem === 'jobs'}"
              x-data="{ isHovered: false }"
              x-on:mouseover="isHovered = true"
              x-on:mouseout="isHovered = false"
            >
              <div
                class="h-1.5 w-1.5 bg-gray-500 rounded-full"
                :class="{ 'h-2 w-2 bg-blue-800': isHovered || activeSubMenuItem === 'jobs' }"
              ></div>
              <span
                class="ml-4 mr-24"
                :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
                >Jobs</span
              >
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sub-menu-item flex py-2.5 text-sm leading-5 font-semibold rounded-lg items-center hover:text-[#023E8A] custom-filter transition duration-75"
              @click="activeSubMenuItem = 'Tasks',activeMenuItem = 'production'"
              :class="{'text-[#023E8A]': activeSubMenuItem === 'Tasks'}"
              x-data="{ isHovered: false }"
              x-on:mouseover="isHovered = true"
              x-on:mouseout="isHovered = false"
            >
              <div
                class="h-1.5 w-1.5 bg-gray-500 rounded-full"
                :class="{ 'h-2 w-2  bg-blue-800': isHovered || activeSubMenuItem === 'Tasks'}"
              ></div>
              <span
                class="ml-4 mr-24"
                :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
                >Tasks</span
              >
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sub-menu-item flex py-2.5 text-sm leading-5 font-semibold rounded-lg items-center hover:text-[#023E8A] custom-filter transition duration-75"
              @click="activeSubMenuItem = 'Dependencies',activeMenuItem = 'production'"
              :class="{'text-[#023E8A]': activeSubMenuItem === 'Dependencies'}"
              :style="{ filter: (activeSubMenuItem === 'Dependencies') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
              x-data="{ isHovered: false }"
              x-on:mouseover="isHovered = true"
              x-on:mouseout="isHovered = false"
            >
              <div
                class="h-1.5 w-1.5 bg-gray-500 rounded-full"
                :class="{ 'h-2 w-2': isHovered || activeSubMenuItem === 'Dependencies' }"
              ></div>
              <span
                class="ml-4 mr-24"
                :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
                >Dependencies</span
              >
            </a>
          </li>
        </ul>
      </li>
      ​
      <li x-data="{dropdownMenu: false}">
        <button
          type="button"
          class="w-full flex py-2.5 pl-3 text-sm leading-5 rounded-lg items-center hover:border-l-[3px] hover:bg-[#023e8a0d] hover:text-[#023E8A] custom-filter"
          @click="activeMenuItem = 'Resource-Management',dropdownMenu = ! dropdownMenu"
          :class="{ 'border-l-[3px] bg-[#023e8a0d] text-[#023E8A]': activeMenuItem === 'Resource-Management'}"
          :style="{ filter: (activeMenuItem === 'Resource-Management') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
        >
          <img src="{% static 'images/Rm.svg' %}" class="h-6 w-6" />
          <span
            class="ml-4 mr-5"
            :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
            >Resource Management</span
          >
          <img
            class="h-6 w-6"
            :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
            src="{% static 'images/RightArrow.svg' %}"
          />
        </button>
        <ul x-show="dropdownMenu" class="w-full space-y-2.5 ml-5">
          <li>
            <a
              href="#"
              class="flex py-2.5 text-sm leading-5 font-semibold rounded-lg items-center hover:text-[#023E8A] custom-filter transition duration-75"
              @click="activeSubMenuItem = 'Resources',activeMenuItem = 'Resource-Management'"
              :class="{'text-[#023E8A]': activeSubMenuItem === 'Resources'}"
              :style="{ filter: (activeSubMenuItem === 'Resources') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
            >
              <div class="h-1.5 w-1.5 bg-gray-500 rounded-full"></div>
              <span
                class="ml-4 mr-24"
                :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
                >Resources</span
              >
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex py-2.5 text-sm leading-5 font-semibold rounded-lg items-center hover:text-[#023E8A] custom-filter transition duration-75"
              @click="activeSubMenuItem = 'RG',activeMenuItem = 'Resource-Management'"
              :class="{'text-[#023E8A]': activeSubMenuItem === 'RG'}"
              :style="{ filter: (activeSubMenuItem === 'RG') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
            >
              <div class="h-1.5 w-1.5 bg-gray-500 rounded-full"></div>
              <span
                class="ml-4 mr-24"
                :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
                >Resources Groups</span
              >
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex py-2.5 text-sm leading-5 font-semibold rounded-lg items-center hover:text-[#023E8A] custom-filter transition duration-75"
              @click="activeSubMenuItem = 'WST',activeMenuItem = 'Resource-Management'"
              :class="{'text-[#023E8A]': activeSubMenuItem === 'WST'}"
              :style="{ filter: (activeSubMenuItem === 'WST') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
            >
              <div class="h-1.5 w-1.5 bg-gray-500 rounded-full"></div>
              <span
                class="ml-4 mr-24"
                :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
                >Weekly Shift Template</span
              >
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex py-2.5 text-sm leading-5 font-semibold rounded-lg items-center hover:text-[#023E8A] custom-filter transition duration-75"
              @click="activeSubMenuItem = 'OE',activeMenuItem = 'Resource-Management'"
              :class="{'text-[#023E8A]': activeSubMenuItem === 'OE'}"
              :style="{ filter: (activeSubMenuItem === 'OE') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
            >
              <div class="h-1.5 w-1.5 bg-gray-500 rounded-full"></div>
              <span
                class="ml-4 mr-24"
                :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
                >Operational Exception</span
              >
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex py-2.5 text-sm leading-5 font-semibold rounded-lg items-center hover:text-[#023E8A] custom-filter transition duration-75"
              @click="activeSubMenuItem = 'A&R',activeMenuItem = 'Resource-Management'"
              :class="{'text-[#023E8A]': activeSubMenuItem === 'A&R'}"
              :style="{ filter: (activeSubMenuItem === 'A&R') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
            >
              <div class="h-1.5 w-1.5 bg-gray-500 rounded-full"></div>
              <span
                class="ml-4 mr-24"
                :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
                >Allocation Rules</span
              >
            </a>
          </li>
        </ul>
      </li>
      ​
      <li>
        <a
          href="#"
          class="w-full flex py-2.5 pl-3 text-sm leading-5 rounded-lg items-center hover:border-l-[3px] hover:bg-[#023e8a0d] hover:text-[#023E8A] custom-filter"
          @click="activeMenuItem = 'Settings'"
          :class="{ 'border-l-[3px] bg-[#023e8a0d] text-[#023E8A]': activeMenuItem === 'Settings'}"
          :style="{ filter: (activeMenuItem === 'Settings') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
        >
          <img src="{% static 'images/Setting.svg' %}" class="h-6 w-6" />
          <span class="ml-4" :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
            >Settings</span
          >
        </a>
      </li>
      ​
      <li>
        <a
          href="#"
          class="w-full flex py-2.5 pl-3 text-sm leading-5 rounded-lg items-center hover:border-l-[3px] hover:bg-[#023e8a0d] hover:text-[#023E8A] custom-filter"
          @click="activeMenuItem = 'H&S'"
          :class="{ 'border-l-[3px] bg-[#023e8a0d] text-[#023E8A]': activeMenuItem === 'H&S'}"
          :style="{ filter: (activeMenuItem === 'H&S') ? 'brightness(0) saturate(100%) invert(17%) sepia(24%) saturate(6703%) hue-rotate(202deg) brightness(100%) contrast(102%)' : 'none' }"
        >
          <img src="{% static 'images/h-s.svg' %}" class="h-6 w-6" />
          <span class="ml-4" :class="sidebarOpen ? 'opacity-100' : 'opacity-0'"
            >Help & Support</span
          >
        </a>
      </li>
    </ul>
    <!-- Add more sidebar links here -->
  </nav>
</div>
