{% extends 'base/main.html' %}

{% block title %} Task {% endblock %}

{% block content %}

{% load static %}
    <div class="flex-wrap">
        <nav class="flex pb-4" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/"
                        class="inline-flex items-center text-xs font-semibold text-[#5E6278]">
                        <img class="h-4 w-4" src="{% static 'images/home-icon.svg' %}" />
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <img class="h-4 w-4" src="{% static 'images/right.svg' %}" />
                        <a href="{% url 'chart' %}"
                            class="ms-1 text-xs font-semibold text-[#5E6278] md:ms-2">Dashboard</a>
                    </div>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <img class="h-4 w-4" src="{% static 'images/right.svg' %}" />
                        <span class="ms-1 text-xs font-semibold text-[#A1A5B7] md:ms-2">Overview</span>
                    </div>
                </li>
            </ol>
        </nav>
        <div>
            <h1 class="text-2xl font-semibold text-[#181C32] pb-5">Job Task Gantt Chart</h1>
        </div>
    </div>
    
    <div style="position:relative; max-height: 75vh; overflow-y: auto;" class="gantt bg-white p-6 rounded-lg shadow-xl" id="GanttChartDIV"></div>

{% endblock %}

{% block scripts %}
    <script>
    
        var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'day');

        g.setOptions({
            vCaptionType: 'Complete',  // Set to Show Caption : None,Caption,Resource,Duration,Complete,     
            vQuarterColWidth: 36,
            vDateTaskDisplayFormat: 'day dd month yyyy', // Shown in tool tip box
            vDayMajorDateDisplayFormat: 'mon yyyy - Week ww',// Set format to dates in the "Major" header of the "Day" view
            vWeekMinorDateDisplayFormat: 'dd mon', // Set format to display dates in the "Minor" header of the "Week" view
            vLang: 'en',
            vShowTaskInfoLink: 1, // Show link in tool tip (0/1)
            vShowEndWeekDate: 0,  // Show/Hide the date for the last day of the week in header for daily
            vShowEndDate: 0,
            vShowStartDate: 0,
            vShowComp: 0,
            vShowTaskInfoComp: 0,
            
            vAdditionalHeaders: { // Add data columns to your table
                priority: {
                    title: 'Priority'
                }
            },
            vUseSingleCell: 10000, // Set the threshold cell per table row (Helps performance for large data.
            vFormatArr: ['Day', 'Week', 'Month', 'Quarter'], // Even with setUseSingleCell using Hour format on such a large chart can cause issues in some browsers,

            vMinGpLen: 20,
        });


        // to get data from the api and display it in the gantt chart
        axios.get('http://localhost:8000/api/job/gantt')
            .then(response => {
            let tasks = response.data;
            tasks.forEach(task => {
                g.AddTaskItemObject(task);
            });
            g.Draw();
            })
            .catch(error => {
            console.error(error);
            });
    </script>
{% endblock %}
