{% extends "base/main.html" %}

{% block title %}
  Operator view
{% endblock title %}

{% block content %}

{% load static %}

{% load partials %}

<div class="w-full h-screen" x-data="{ modelOpen: false,menuOpen:false }">

     <div x-cloak x-show="menuOpen" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="fixed inset-0 z-50 overflow-hidden">
        <div x-cloak @click="menuOpen = false" class="absolute inset-0 bg-white"></div>

        <div class="modal-container fixed inset-0 z-50 flex items-center justify-center">
            <div @click.stop="menuOpen = false" class="modal-close absolute lg:top-0 max-sm:top-24 sm:top-24 lg:right-0 max-sm:right-auto sm:right-auto cursor-pointer flex flex-col items-center mt-4 mr-4 text-black text-sm z-50">
                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 18 18">
                    <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                </svg>
            </div>

            <div  class="modal-content w-full h-full p-4 text-black pt-40">
              <div class="flex justify-center  items-center">
                <ul class="list-none text-center text-2xl">
                  <li class="py-3">
                      <a href="/operatorview/">
                       Tasks
                      </a>
                  </li>
                  <li class="py-3">
                    <a href="/operatorview/operationexception/">
                      Operator Expetions
                    </a>
                  </li>
                  <li class="py-3">
                    <a href="/operatorview/issue/">
                      Issues
                    </a>
                  </li>
                </ul>             
              </div>
                {% comment %} <p>Modal content can go here</p> {% endcomment %}
                {% comment %} <div class="flex justify-end pt-2">
                    <button class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2">Action</button>
                    <button @click="menuOpen = false" class="px-4 bg-indigo-500 p-3 rounded-lg text-black hover:bg-indigo-400">Close</button>
                </div> {% endcomment %}
            </div>
        </div>
    </div>



    {% comment %} model open when click Report issue button  {% endcomment %}
    <div x-show="modelOpen" class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
          <div x-cloak @click="modelOpen = false" x-show="modelOpen" 
              x-transition:enter="transition ease-out duration-300 transform"
              x-transition:enter-start="opacity-0" 
              x-transition:enter-end="opacity-100"
              x-transition:leave="transition ease-in duration-200 transform"
              x-transition:leave-start="opacity-100" 
              x-transition:leave-end="opacity-0"
              class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40" aria-hidden="true"
          ></div>

          <div x-cloak x-show="modelOpen" 
              x-transition:enter="transition ease-out duration-300 transform"
              x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" 
              x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
              x-transition:leave="transition ease-in duration-200 transform"
              x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" 
              x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              class="inline-block w-full max-w-sm p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl"
          >
              <div class="flex items-center justify-between space-x-4 pb-2 border-b-2">
                  <h1 class="text-xl font-medium text-gray-800 ">Reporting Issue for </h1>

                  <button @click="modelOpen = false" class="text-gray-600 focus:outline-none hover:text-gray-700">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                  </button>
              </div>

              <form class="mt-5">
                  <div class="flex items-center gap-3">
                      <label for="title" class="text-sm text-gray-700 capitaliz">Title: </label>
                      <input placeholder="Enter your title" type="text" class="w-full block px-3 py-2 mt-2 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-indigo-400 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40">
                  </div>

                  <div class="mt-4">
                      <label for="description" class="block text-sm text-gray-700 capitalize">Description: </label>
                      <textarea class="block w-full px-3 py-2 mt-2 text-gray-600 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-indigo-400 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40"></textarea>
                  </div>
                  
    
                  <div class="flex lg:flex-nowrap md:flex-wrap max-md:flex-wrap max-sm:flex-wrap sm:flex-wrap justify-between mt-6">
                      <input type="file" class="lg:w-auto md:w-full max-sm:w-full sm:w-full lg:mb-0 md:mb-2 max-sm:mb-2 sm:mb-2 lg:mr-4 md:mr-0 max-sm:mr-0 sm:mr-0 px-3 py-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-500 rounded-md dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:bg-indigo-700 hover:bg-indigo-600 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-50"/>

                      <button type="button" class="lg:w-auto md:w-full max-sm:w-full sm:w-full px-3 py-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-500 rounded-md dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:bg-indigo-700 hover:bg-indigo-600 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-50">
                          Confirm
                      </button>
                  </div>
              </form>
          </div>
      </div>
    </div>

    <div class="flex justify-between items-center mb-2">
      <div class="flex gap-6 items-center">
        
          <img src={% static 'images/menuicon.svg' %} class="h-8 w-7 cursor-pointer" @click="menuOpen = true"/>
       
          <h2 class="text-lg font-medium text-gray-700">Tasks</h2>
      </div>
        <div class="flex space-x-2 items-center">
            <label
            for="sorting"
            class="text-sm font-medium text-center text-gray-700"
            >Sort by:</label
          >
          <select
            id="sorting"
            class="bg-gray-50 outline-0 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-1"
          >
            <option value="TC" selected>Task Created</option>
            <option value="WO">Work Order</option>
          </select>
        </div>
    </div>

    <div class="flex flex-col lg:w-[97%] md:w-[95%] max-md:w-[95%] max-sm:w-[90%] sm:w-[95%]">
      <div class="mt-5 relative">
        <div class="flex justify-between w-full items-center rounded-l-xl border-2 px-4 py-4 max-sm:px-2.5 max-sm:py-2.5 bg-white">
          <!-- First div box with labels -->
          <div class="rounded-md">
            <label  class="block text-sm font-medium text-gray-700 mb-2">Work Order #</label>
            <label  class="block text-sm font-medium text-gray-700 mb-2">Item Name</label>
            <label  class="block text-sm font-medium text-gray-700 mb-2">Assigned Resource</label>
            <label  class="block text-sm font-medium text-gray-700">Start Date</label>
          </div>
        
          <!-- Second div box with image -->
          <div class="rounded-md">
            <img src={%static 'images/testing.png'%} alt="images" class="w-28 h-28 object-cover rounded-xl">
          </div>
        </div>  
        <button @click="modelOpen =!modelOpen" class="absolute -right-[92px] max-sm:-right-[88px] top-[54px] max-sm:top-[48px] rotate-90 bg-blue-500 text-white font-medium py-2 px-[27px] max-sm:px-[21px] rounded-tr-xl rounded-tl-xl">Report Issue</button>  
      </div>

      <div class="mt-5 relative w-full">
        <div class="flex justify-between w-full items-center rounded-l-xl border-2 px-4 py-4 max-sm:px-2.5 max-sm:py-2.5 bg-white">
          <!-- First div box with labels -->
          <div class="rounded-md">
            <label  class="block text-sm font-medium text-gray-700 mb-2">Work Order #</label>
            <label  class="block text-sm font-medium text-gray-700 mb-2">Item Name</label>
            <label  class="block text-sm font-medium text-gray-700 mb-2">Assigned Resource</label>
            <label  class="block text-sm font-medium text-gray-700">Start Date</label>
          </div>
        
          <!-- Second div box with image -->
          <div class="rounded-md">
            <img src={%static 'images/testing.png'%} alt="Image Description" class="w-28 h-28 object-cover rounded-xl">
          </div>
        </div>  
        <button @click="modelOpen =!modelOpen" class="absolute -right-[92px] max-sm:-right-[88px] top-[54px] max-sm:top-[48px] rotate-90 bg-blue-500 text-white font-medium py-2 px-[27px] max-sm:px-[21px] rounded-tr-xl rounded-tl-xl">Report Issue</button>  
      </div>
    </div>


   <!-- Pagination Section -->
      <div class="flex justify-center items-center gap-3 mt-6">
        <a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
            <span class="sr-only">Previous Page</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
            </svg>
        </a>

        <p class="text-xs text-gray-900">
            1
            <span class="mx-0.25">-</span>
            10
        </p>

        <a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
            <span class="sr-only">Next Page</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
            </svg>
        </a>
      </div>


      <section id="bottom-navigation" class="xl:hidden lg:hidden  block fixed inset-x-0 bottom-0 z-10 bg-white shadow">
        <div id="tabs" class="flex justify-between">
          {% include 'partials/bottomtabs.html' with name='task' menu_item_icon='images/Dashboard.svg' url="/operatorview/" %}
          {% include 'partials/bottomtabs.html' with name='operation' menu_item_icon='images/Dashboard.svg' url="/operatorview/operationexception/" %}
          {% include 'partials/bottomtabs.html' with name='issue' menu_item_icon='images/Dashboard.svg' url="/operatorview/issue/" %}
      </section>
</div>



 
{% endblock %}
