{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Your meta description goes here" />
    <meta name="keywords" content="your, meta, keywords, go, here" />
    <title>{% block title %} Job {% endblock title %}</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.8/htmx.min.js"
      integrity="sha512-wua2xfJY3quQbT5pSx40Tp5+LD/zpw/9hARj1zsjJOA+rCq7N7pf7wlBXXdn5iGjQI5HE7svGvPz529Q3gJDiA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"
    ></script>
    {% include "../styles.html" %} {% include "../styles.html" %}
  </head>
  <body
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    x-data="{sidebarOpen: false}"
  >
    {% include "../header.html" %}

    <div class="flex h-screen">
      {% include "../sidebar.html" %}
      <!-- Main Content -->
      <div class="flex-1 bg-[#FAFAFB] border border-[#F1F1F2] rounded-xl">
        {% block content %}
        <div class="px-10 py-7 w-full">
          <div class="rounded-xl bg-white px-8 py-9">
            <form>
              <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                  <label
                    for="job_name"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Job Name*</label
                  >
                  <input
                    type="text"
                    id="job_name"
                    class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus-visible:outline-none block w-full p-2.5"
                    placeholder="Enter Job Name"
                    required
                  />
                </div>
                <div>
                  <label
                    for="Description"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Description*</label
                  >
                  <input
                    type="text"
                    id="Description"
                    class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus-visible:outline-none block w-full p-2.5"
                    placeholder="Write Description"
                    required
                  />
                </div>
                <div>
                  <label
                    for="date"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Due Date*</label
                  >
                  <input
                    type="date"
                    id="date"
                    class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus-visible:outline-none block w-full p-2.5"
                    required
                  />
                </div>
                <div>
                  <label
                    for="Priority"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Priority*</label
                  >
                  <select
                    id="Priority"
                    class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus-visible:outline-none block w-full p-2.5 bg-inherit"
                    required
                  >
                    <!-- Placeholder option -->
                    <option value="" disabled selected>Select an option</option>
                    <!-- Add your options here -->
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>

                <div>
                  <label
                    for="Status"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Status*</label
                  >
                  <select
                    id="Status"
                    class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus-visible:outline-none block w-full p-2.5 bg-inherit"
                    required
                  >
                    <!-- Placeholder option -->
                    <option value="" disabled selected>Select an option</option>
                    <!-- Add your options here -->
                    <option value="planned">Planned</option>
                    <option value="in-progress">In-Progress</option>
                    <option value="not-planned">Not-Planned</option>
                    <option value="completed">Completed</option>
                  </select>
                </div>
              </div>
              <button
                type="submit"
                class="text-white bg-blue-800 hover:bg-blue-800 focus:ring-4 font-medium rounded-md text-sm w-full sm:w-auto px-6 py-3 text-center"
              >
                Submit
              </button>
            </form>
          </div>
        </div>

        {% endblock content %}
      </div>
    </div>
    {% include "../notifications.html" %}
  </body>
</html>
