{% extends 'base/main.html' %}
{% load permission_tags %}
{% block title %}
    {{ model_title }}
{% endblock title %}
{% load partials %}
{% partialdef partial-form %}
{% endpartialdef %}
{% block content %}
    {% load static %}
    <div>
        <h1 class="text-2xl font-semibold text-[#181C32] pb-5">Change Password</h1>
    </div>
    <div class="rounded-xl bg-white px-8 py-8 w-full">
        <form method="post">
            {% csrf_token %}
            <div class="grid gap-y-6 gap-x-7 mb-6 md:grid-cols-4">
                <div class="grid gap-y-6 gap-x-7 mb-6">
                    {{ form.as_p }}
                    <div>
                        <button type="submit"
                                class="text-base font-semibold text-white px-6 py-3 bg-[#023E8A] rounded-md">
                            Change Password
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
