{% extends 'base/main.html' %}

{% block title %} Task {% endblock %}

{% block content %}

{% load static %}

<script src="
    https://cdn.jsdelivr.net/npm/jsgantt-improved@2.8.10/dist/jsgantt.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/jsgantt-improved@2.8.10/dist/jsgantt.min.css
    " rel="stylesheet">


    <div style="position:relative" class="gantt" id="GanttChartDIV"></div>

    
    <script>

        var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'day');
    
        g.setOptions({
            vCaptionType: 'Complete',  // Set to Show Caption : None,Caption,Resource,Duration,Complete,     
            vQuarterColWidth: 36,
            vDateTaskDisplayFormat: 'day dd month yyyy', // Shown in tool tip box
            vDayMajorDateDisplayFormat: 'mon yyyy - Week ww',// Set format to dates in the "Major" header of the "Day" view
            vWeekMinorDateDisplayFormat: 'dd mon', // Set format to display dates in the "Minor" header of the "Week" view
            vLang: 'en',
            vShowTaskInfoLink: 1, // Show link in tool tip (0/1)
            vShowEndWeekDate: 0,  // Show/Hide the date for the last day of the week in header for daily
            vAdditionalHeaders: { // Add data columns to your table
                category: {
                    title: 'Category'
                },
                sector: {
                    title: 'Sector'
                }
            },
            vUseSingleCell: 10000, // Set the threshold cell per table row (Helps performance for large data.
            vFormatArr: ['Day', 'Week', 'Month', 'Quarter'], // Even with setUseSingleCell using Hour format on such a large chart can cause issues in some browsers,
    
        });
    
        let arr = [
            {
                "pID": 1,
                "pName": "Job Name 1",
                "pStart": "",
                "pEnd": "",
                "pPlanStart": "",
                "pPlanEnd": "",
                "pClass": "ggroupblack",
                "pLink": "",
                "pMile": 0,
                "pRes": "Mario",
                "pComp": 0,
                "pGroup": 1,
                "pParent": 0,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": "Some Notes text",
                "category": "Planning",
                "sector": "CMO"
            },
            {
                "pID": 11,
                "pName": "Task Name 1",
                "pStart": "2019-06-20",
                "pEnd": "2019-07-20",
                "pClass": "gmilestone",
                "pLink": "",
                "pMile": 1,
                "pRes": "Henrique",
                "pComp": 100,
                "pGroup": 0,
                "pParent": 1,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": "",
                "category": "Executive",
                "sector": "CEO"
            },
            {
                "pID": 12,
                "pName": "Task Name 2",
                "pStart": "2019-06-21",
                "pEnd": "2019-07-21",
                "pClass": "gtaskblue",
                "pLink": "",
                "pMile": 0,
                "pRes": "John",
                "pComp": 80,
                "pGroup": 0,
                "pParent": 1,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": "",
                "pDuration": "2 days",
                "deadline": "2019-07-01"
            },
            {
                "pID": 13,
                "pName": "Task Name 3",
                "pStart": "2019-06-22",
                "pEnd": "2019-07-22",
                "pClass": "gtaskblue",
                "pLink": "",
                "pMile": 0,
                "pRes": "Sarah",
                "pComp": 60,
                "pGroup": 0,
                "pParent": 1,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": "",
                "pDuration": "3 days",
                "deadline": "2019-07-01"
            },
            {
                "pID": 14,
                "pName": "Task Name 4",
                "pStart": "2019-06-23",
                "pEnd": "2019-07-23",
                "pClass": "gtaskblue",
                "pLink": "",
                "pMile": 0,
                "pRes": "Alex",
                "pComp": 40,
                "pGroup": 0,
                "pParent": 1,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": "",
                "pDuration": "4 days",
                "deadline": "2019-07-01"
            },
            {
                "pID": 2,
                "pName": "Job Name 2",
                "pStart": "",
                "pEnd": "",
                "pClass": "ggroupblack",
                "pLink": "",
                "pMile": 0,
                "pRes": "Henrique",
                "pComp": 40,
                "pGroup": 1,
                "pParent": 0,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": ""
            },
            {
                "pID": 21,
                "pName": "Task Name 5",
                "pStart": "2019-07-24",
                "pEnd": "2019-09-24",
                "pClass": "gtaskblue",
                "pLink": "",
                "pMile": 0,
                "pRes": "Peter",
                "pComp": 60,
                "pGroup": 0,
                "pParent": 2,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": "",
                "pDuration": "5 days",
                "deadline": "2019-07-01"
            },
            {
                "pID": 22,
                "pName": "Task Name 6",
                "pStart": "2019-07-25",
                "pEnd": "2019-08-25",
                "pClass": "gtaskblue",
                "pLink": "",
                "pMile": 0,
                "pRes": "David",
                "pComp": 80,
                "pGroup": 0,
                "pParent": 2,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": "",
                "pDuration": "6 days",
                "deadline": "2019-07-01"
            },
            {
                "pID": 3,
                "pName": "Job Name 3",
                "pStart": "2019-08-26",
                "pEnd": "2019-10-26",
                "pClass": "ggroupblack",
                "pLink": "",
                "pMile": 0,
                "pRes": "John",
                "pComp": 40,
                "pGroup": 1,
                "pParent": 0,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": ""
            },
            {
                "pID": 31,
                "pName": "Task Name 7",
                "pStart": "2019-09-26",
                "pEnd": "2019-10-26",
                "pClass": "gtaskblue",
                "pLink": "",
                "pMile": 0,
                "pRes": "Michael",
                "pComp": 40,
                "pGroup": 0,
                "pParent": 3,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": "",
                "pDuration": "7 days",
                "deadline": "2019-07-01"
            },
            {
                "pID": 32,
                "pName": "Task Name 8",
                "pStart": "2019-08-27",
                "pEnd": "2019-10-27",
                "pClass": "gtaskblue",
                "pLink": "",
                "pMile": 0,
                "pRes": "Robert",
                "pComp": 50,
                "pGroup": 0,
                "pParent": 3,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": "",
                "pDuration": "8 days",
                "deadline": "2019-07-01"
            },
            {
                "pID": 33,
                "pName": "Task Name 9",
                "pStart": "2019-08-28",
                "pEnd": "2019-09-28",
                "pClass": "gtaskblue",
                "pLink": "",
                "pMile": 0,
                "pRes": "William",
                "pComp": 60,
                "pGroup": 0,
                "pParent": 3,
                "pOpen": 1,
                "pDepend": "",
                "pCaption": "",
                "pNotes": "",
                "pDuration": "9 days",
                "deadline": "2019-07-01"
            },
        ];
        // Or Adding  Manually
            
        for (let idx = 0; idx < arr.length; idx++) {
            g.AddTaskItemObject(arr[idx])
        }
    

        g.Draw();
    
    </script>

{% endblock %}