{% extends './main.html' %} {% block content %}

<!-- Sign In Section -->
<section class="w-full h-full flex justify-center items-center">
  <div
    class="md:w-2/4 h-fit bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0"
  >
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <!-- Sign In Heading -->
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
      >
        Sign in to your account
      </h1>

      <!-- Sign In Form -->
      <form
        id="login-form"
        class="space-y-4 md:space-y-6"
        hx-post="{% url 'account_login' %}"
        hx-trigger="submit"
        hx-push-url="true"
        hx-target="body"
      >
        {% csrf_token %}

        <!-- Display Non-field Errors -->
        <div>
          <p class="text-sm font-medium text-gray-400">
            {{ form.non_field_errors | safe }}
          </p>
          <!-- Email Input -->
          <label
            for="id_login"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Your email</label
          >
          <input
            type="email"
            name="login"
            id="id_login"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
            placeholder="name@company.com"
            required
            autofocus
          />
        </div>

        <!-- Password Input -->
        <div>
          <label
            for="id_password"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Password</label
          >
          <input
            type="password"
            name="password"
            id="id_password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
            required
          />
        </div>

        <!-- Remember Me Checkbox -->
        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                id="id_remember"
                aria-describedby="remember"
                type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                required
              />
            </div>
            <div class="ml-3 text-sm">
              <label for="id_remember" class="text-gray-500">Remember me</label>
            </div>
          </div>
          <!-- Forgot Password Link -->
          <a href="#" class="text-sm font-medium text-gray-400 hover:underline"
            >Forgot password?</a
          >
        </div>

        <!-- Optional: Redirect Field -->
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}

        <!-- Sign In Button -->
        <button
          type="submit"
          class="w-full text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Sign In
        </button>

        <!-- Sign Up Link -->
        <p class="text-sm font-light text-gray-500">
          Don’t have an account yet?
          <a href="#" class="font-medium text-primary-600 hover:underline"
            >Sign up</a
          >
        </p>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
