{% extends './main.html' %} {% block content %}
{% load static %}
<!-- Sign In Section -->
<section class="w-full h-full flex flex-col justify-center items-center bg-blue-900 bg-cover bg-center" style="background-image: url('{% static 'images/Effects.png' %}');">
  <div class="flex items-center mt-4">
    <img src="{% static 'images/fflogo.svg' %}" alt="fflogo" class="w-16 h-16 mr-2" />
    <h1 class="text-white text-center font-mohave text-5xl font-semibold  pt-2">FactryFlow</h1>
  </div>
  <div
    class="md:w-2/4 h-fit bg-[#FFFFFF] rounded-lg mt-8 shadow xl:w-[624px]"
    x-data="{ showPassword: true ,isChecked:false}"
  >
    <div class="m-11">
      <!-- Sign In Title -->
      <h1
        class="text-xl font-semibold leading-6 tracking-tight text-[#181C32] text-center"
      >
      Sign In for an account
      </h1>

      <!-- Sign In Form -->
      <form
        id="login-form"
        class="space-y-4"
        hx-post="{% url 'account_login' %}"
        hx-trigger="submit"
        hx-push-url="true"
        hx-target="body"
      >
        {% csrf_token %}

        <!-- Display Non-field Errors -->
        <div>
          <p class="text-sm font-medium text-gray-400">
            {{ form.non_field_errors | safe }}
          </p>
          <!-- Email Input -->
          <label
            for="id_login"
            class="block mb-2 text-sm font-semibold text-[#181C32]"
            >Email Address<span class="text-red-600">*</span></label>
          <input
            type="email"
            name="login"
            id="id_login"
            class=" text-gray-900 text-sm font-medium rounded-md outline-none border border-solid border-[#E1E3EA] block w-full p-2.5"
            placeholder="Enter Email Address"
            required
            autofocus
          />
        </div>

        <!-- Password Input -->
        <div class="relative">
          <label
            for="id_password"
            class="block mb-2 text-sm font-semibold text-[#181C32]"
            >Password<span class="text-red-600">*</span></label
          >
          <input
            :type="showPassword ? 'password' : 'text'"
            name="password"
            id="id_password"
            placeholder="Enter Password"
            class="text-gray-900 text-sm rounded-md outline-none border border-solid border-[#E1E3EA] block w-full p-2.5"
            required
          />
          <img 
          class="h-5 w-5 absolute right-[15px] top-[40px] cursor-pointer" 
          src="{% static 'images/visibility.svg' %}"
          x-on:click="showPassword = !showPassword"
          />
          <div  x-cloak  x-show="showPassword" class="absolute top-[48px] right-[14px] cursor-pointer w-5 h-0.5 bg-[#7E8299] transform -rotate-45" x-on:click="showPassword = !showPassword"></div>
        </div>

        <!-- Terms & Conditions Checkbox -->
        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <div class="flex items-center h-5 relative">
              <input type="checkbox"
               x-model="isChecked" 
               id="accept-terms" 
               class="peer h-5 w-5 shrink-0 appearance-none rounded border border-blue-900 focus:outline-none" 
               />
              <img x-cloak x-show="isChecked" 
              @click="isChecked = !isChecked"  
              class="h-3 w-3 absolute right-1 top-[4px]" 
              src="{% static 'images/check.svg' %}"
              />
            </div>
            <div class="ml-3 text-sm">
              <label for="accept-terms" class="text-[#023E8A] font-semibold cursor-pointer select-none"><span class="text-[#181C32]">I Accept the</span> Terms & Conditions</label>
            </div>
          </div>
          <!-- Forgot Password Link -->
          <a
            href="#"
            hx-get="{% url 'account_reset_password' %}"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="body"
            hx-push-url="true"
            class="text-sm font-medium text-[#023E8A] hover:underline"
            >Forgot password?</a
          >
        </div>

        <!-- Optional: Redirect Field -->
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}

        <!-- Sign In Button -->
        <button
          type="submit"
          class="w-full text-white bg-[#023E8A] focus:ring-4 focus:outline-none focus:ring-primary-300  rounded-lg font-semibold text-base px-5 py-2.5 text-center"
        >
          Sign In
        </button>
  
        <!-- Sign Up Link -->
        <p class="text-sm font-medium text-gray-500 text-center">
          Already have an Account?
          <a
            href="#"
            hx-get="{% url 'account_signup' %}"
            hx-target="body"
            hx-push-url="true"
            class="font-medium text-[#023E8A] hover:underline"
            >Sign up</a
          >
        </p>
      </form>
    </div>
  </div>
  <div class="w-full flex justify-center gap-4  mt-16 mb-8 select-none">
    <label for="accept-terms" class="font-medium text-sm text-[#FFFFFF] cursor-pointer">Terms & Conditions</label>
    <label for="contact-us" class="font-medium text-sm text-[#FFFFFF] cursor-pointer">Contact Us</label>
  </div>
</section>
{% endblock content %}
