{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Your meta description goes here" />
    <meta name="keywords" content="your, meta, keywords, go, here" />
    <title>{% block title %} factryflow {% endblock title %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap" rel="stylesheet">

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.8/htmx.min.js"
      integrity="sha512-wua2xfJY3quQbT5pSx40Tp5+LD/zpw/9hARj1zsjJOA+rCq7N7pf7wlBXXdn5iGjQI5HE7svGvPz529Q3gJDiA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"
    ></script>

    <style>
      [x-cloak] { display: none !important; }
    </style>

    {% include "base/theme.html" %} {% include "base/styles.html" %}
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' x-data>
    <!-- Main Content -->
    <div
      class="bg-[#023E8A] bg-cover bg-center bg-[url('{% static 'images/Effects.png' %}')]"
    >
      {% block content %} {% endblock content %}
    </div>
  </body>
</html>
