{% extends "account/base_entrance.html" %}

{% block content %}
    <!-- Container for Password Reset Section -->
    <section class="bg-gray-50 h-full">
        <!-- Centered Flex Container -->
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-full lg:py-0">
            <!-- Card for Password Reset Form -->
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <!-- Form Content -->
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <!-- Password Reset Title -->
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"> Password Reset </h1>
                    <!-- Check if User is Already Authenticated -->
                    {% if user.is_authenticated %}
                        <!-- Include Already Logged In Message -->
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <!-- Password Reset Instructions -->
                    <p class="text-sm font-medium text-gray-400 dark:text-gray-500">
                        Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.
                    </p>
                    <!-- Password Reset Form -->
                    <form class="space-y-4 md:space-y-6" hx-post="{% url 'account_reset_password' %}" hx-trigger="submit" hx-target="#main-container">
                        {% csrf_token %}
                        <!-- Email Input -->
                        <p class="mb-4">
                            <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email:</label>
                            <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" required autofocus id="id_email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </p>
                        <!-- Reset Password Button -->
                        <button type="submit" class="w-full text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Reset My Password</button>
                    </form>
                    <!-- Additional Instructions -->
                    <p class="text-sm font-medium text-gray-400 dark:text-gray-500">Please contact us if you have any trouble resetting your password.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
