{% extends './main.html' %}
{% load static %}
{% block content %}
<!-- Password Reset Section -->
<div class="min-h-screen flex flex-col justify-center items-center pt-20 pb-9 sm:px-6 lg:px-8">
  <a href="#" class="flex items-center mb-16 text-8xl max-sm:text-6xl font-mohave font-semibold text-white">
    <img class="w-36 h-28 mr-2 max-sm:w-20 max-sm:h-16" src="{% static 'images/fflogo.svg' %}" alt="logo">
    FactryFlow    
 </a>
  <div class="sm:mx-auto sm:w-full sm:max-w-xl w-full lg:max-w-2xl" x-data="{isChecked:false}">
    <div class="bg-white py-24 px-16 max-sm:py-10 max-sm:px-4 max-sm:mx-5 rounded-xl sm:px-[67px]">
      
      <!-- Page Title -->
      <h1 class="text-2xl font-semibold leading-6 tracking-tight text-[#181C32] text-center mb-9">
        Forgot your Password?
      </h1>

      <!-- Password Reset Form -->
      <form class="space-y-4" hx-post="{% url 'account_reset_password' %}" hx-trigger="submit" hx-target="body">
        {% csrf_token %}

        <!-- Email Input -->
        <div>
          <label for="id_email" class="block mb-2 text-sm font-semibold text-[#181C32]">Email Address<span class="text-red-600">*</span></label>
          <input type="email" name="email" placeholder="Enter Email Address" autocomplete="email" maxlength="320" required autofocus id="id_email" class="text-[#7E8299] text-sm font-medium rounded-md outline-none border border-solid border-[#E1E3EA] block w-full p-2.5">
        </div>

        <!-- Terms & Conditions Checkbox -->
        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <div class="flex items-center h-5 relative">
              <input type="checkbox"
               x-model="isChecked" 
               id="accept-terms" 
               class="peer h-5 w-5 shrink-0 appearance-none rounded border border-blue-900 focus:outline-none" 
               />
              <img x-cloak x-show="isChecked" 
              @click="isChecked = !isChecked"  
              class="h-3 w-3 absolute right-1 top-[4px]" 
              src="{% static 'images/check.svg' %}"
              />
            </div>
            <div class="ml-3 text-sm">
              <label for="accept-terms" class="text-[#023E8A] font-semibold cursor-pointer select-none"><span class="text-[#181C32]">I Accept the</span> Terms & Conditions</label>
            </div>
          </div>
          <!-- Forgot Password Link -->
          <a
            href="#"
            hx-get="{% url 'account_reset_password' %}"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="body"
            hx-push-url="true"
            class="text-sm font-medium text-[#023E8A] hover:underline"
            >Forgot password?</a
          >
        </div>

      
        <!-- Submit Button -->
        <button type="submit" class="w-full text-white bg-[#023E8A] focus:ring-4 focus:outline-none focus:ring-primary-300  rounded-lg font-semibold text-base px-5 py-2.5 text-center">Reset Password</button>
      </form>

     <!-- Sign In Link -->
      <p class="text-sm text-gray-500 font-medium text-center mt-4">
        Already have an Account? <a href="#" hx-get="{% url 'account_login' %}" hx-target="body" hx-push-url="true" class="font-medium text-[#023E8A] hover:underline">sign in</a>.
      </p>
    </div>
  </div>
  <div class="mt-24 flex justify-center gap-10 select-none">
    <label for="accept-terms" class="font-medium text-sm text-[#FFFFFF] cursor-pointer">Terms & Conditions</label>
    <label for="contact-us" class="font-medium text-sm text-[#FFFFFF] cursor-pointer">Contact Us</label>
  </div>
</div>
{% endblock content %}

