{% extends './main.html' %}

{% block content %}
<section class="w-full h-full flex justify-center items-center">
  <div class="md:w-2/4 h-fit bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-5">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      
      <!-- Page Title -->
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Password Reset</h1>

      <!-- Check if the user is already authenticated -->
      {% if user.is_authenticated %}
        <!-- Display a message for authenticated users -->
        <h3 class="text-sm md:text-2xl font-medium text-gray-900">You are already logged in.</h3>
      {% else %}
        <!-- Display a message for users who are not authenticated -->
        <p class="text-sm md:text-2xl font-medium text-gray-900">
          We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.
        </p>
      {% endif %}
    
      <!-- Back Button -->
      <button
        type="button"
        hx-get="{% url 'home' %}"
        hx-target="body"
        hx-push-url="true"
        class="w-full text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Home Page
      </button>
    </div>
  </div>
</section>
{% endblock content %}
