{% extends './main.html' %}

{% block content %}
<!-- Password Reset Section -->
<section class="w-full h-full flex justify-center items-center">
  <div class="md:w-2/4 h-fit bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      
      <!-- Page Title -->
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
        Password Reset
      </h1>

      <!-- Password Reset Instructions -->
      <p class="text-sm font-medium text-gray-400">
        Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.
      </p>

      <!-- Password Reset Form -->
      <form class="space-y-4 md:space-y-6" hx-post="{% url 'account_reset_password' %}" hx-trigger="submit" hx-target="body">
        {% csrf_token %}

        <!-- Email Input -->
        <p class="mb-4">
          <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900">Email:</label>
          <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" required autofocus id="id_email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
        </p>
      
        <!-- Submit Button -->
        <button type="submit" class="w-full text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Reset My Password</button>
      </form>

      <!-- Trouble Resetting Password -->
      <p class="text-sm font-medium text-gray-400">Please contact us if you have any trouble resetting your password.</p>
    </div>
  </div>
</section>
{% endblock content %}

