{% extends './main.html' %} {% block content %}
{% load static %}
<!-- Sign Up Section -->
  <div class="min-h-screen flex flex-col justify-center items-center pt-20 pb-9 sm:px-6 lg:px-8">
    <a href="#" class="flex items-center mb-16 text-8xl max-sm:text-6xl font-mohave font-semibold text-white">
      <img class="w-36 h-28 mr-2 max-sm:w-20 max-sm:h-16" src="{% static 'images/fflogo.svg' %}" alt="logo">
      FactryFlow    
   </a>
  <!-- Container for Sign-Up Form -->
    <div class="sm:mx-auto sm:w-full sm:max-w-xl w-full lg:max-w-2xl" x-data="{ showPassword: true,showRePassword:true ,isChecked:false}">
     <div class="bg-white py-7 px-16 max-sm:py-10 max-sm:px-4 max-sm:mx-5 rounded-xl sm:px-[67px]">
        <!-- Sign-Up Title -->
        <h1 class="text-2xl font-semibold leading-6 tracking-tight text-[#181C32] text-center mb-9">
            Sign up for an account
        </h1>
        <!-- Non-field Errors -->
        <p class="text-sm font-medium text-gray-400">{{ form.non_field_errors | safe }}</p>

        <!-- Sign Up Form -->
        <form class="space-y-4" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            
            <!-- Email Input -->
            <div>
                <!-- Display Email Validation Errors -->
                <ul class="errorlist text-sm font-medium text-gray-400"><li>{{ form.email.errors | safe }}</li></ul>
                <label for="id_email" class="block mb-2 text-sm font-semibold text-[#181C32]">Email Address<span class="text-red-600">*</span></label>
                <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" required autofocus id="id_email" class="text-[#7E8299] text-sm font-medium rounded-md outline-none border border-solid border-[#E1E3EA] block w-full p-2.5">
            </div>

            <!-- Password Input -->
            <div class="relative">
                <!-- Display Password Validation Errors -->
                <label for="id_password1" class="block mb-2 text-sm font-medium text-[#181C32]">Password<span class="text-red-600">*</span></label>
                <input :type="showPassword ? 'password' : 'text'" name="password1" placeholder="Enter Password" autocomplete="new-password" required id="id_password1" class="text-[#7E8299] text-sm font-medium rounded-md outline-none border border-solid border-[#E1E3EA] block w-full p-2.5">
                <img 
                class="h-5 w-5 absolute right-[15px] top-[40px] cursor-pointer" 
                src="{% static 'images/visibility.svg' %}"
                x-on:click="showPassword = !showPassword"
                />
                <div  x-cloak  x-show="showPassword" class="absolute top-[48px] right-[14px] cursor-pointer w-5 h-0.5 bg-[#7E8299] transform -rotate-45" x-on:click="showPassword = !showPassword"></div>
                <p class="text-sm font-medium text-gray-400">{{ form.password1.errors | safe }}</p>
            </div>

            <!-- Password Confirmation Input -->
            <div class="relative">
                <!-- Display Password Confirmation Validation Errors -->
                <label for="id_password2" class="block mb-2 text-sm font-medium text-[#181C32]">Repeat Password<span class="text-red-600">*</span></label>
                <input :type="showRePassword ? 'password' : 'text'" name="password2" placeholder="Enter Password" autocomplete="new-password" required id="id_password2" class="text-[#7E8299] text-sm font-medium rounded-md outline-none border border-solid border-[#E1E3EA] block w-full p-2.5">
                <img 
                class="h-5 w-5 absolute right-[15px] top-[40px] cursor-pointer" 
                src="{% static 'images/visibility.svg' %}"
                x-on:click="showRePassword = !showRePassword"
                />
                <div  x-cloak  x-show="showRePassword" class="absolute top-[48px] right-[14px] cursor-pointer w-5 h-0.5 bg-[#7E8299] transform -rotate-45" x-on:click="showRePassword = !showRePassword"></div>  
                <p class="text-sm font-medium text-gray-400">{{ form.password2.errors | safe }}</p>
            </div>

            <!-- Terms & Conditions Checkbox -->
        <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5 relative">
                <input type="checkbox"
                 x-model="isChecked" 
                 id="accept-terms" 
                 class="peer h-5 w-5 shrink-0 appearance-none rounded border border-blue-900 focus:outline-none" 
                 />
                <img x-cloak x-show="isChecked" 
                @click="isChecked = !isChecked"  
                class="h-3 w-3 absolute right-1 top-[4px]" 
                src="{% static 'images/check.svg' %}"
                />
              </div>
              <div class="ml-3 text-sm">
                <label for="accept-terms" class="text-[#023E8A] font-semibold cursor-pointer select-none"><span class="text-[#181C32]">I Accept the</span> Terms & Conditions</label>
              </div>
            </div>
            <!-- Forgot Password Link -->
            <a
                href="{% url 'account_reset_password' %}"
                class="text-sm font-medium text-[#023E8A] hover:underline"
            >Forgot password?</a>
          </div>
            
            <!-- Optional: Redirect Field -->
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            
            <!-- Sign Up Button -->
            <button type="submit"
                class="w-full text-white bg-[#023E8A] focus:ring-4 focus:outline-none focus:ring-primary-300  rounded-lg font-semibold text-base px-5 py-2.5 text-center"
            >
                Sign Up
            </button>
        </form>

        <!-- Sign In Link -->
        <p class="text-sm font-medium text-gray-500 text-center mt-4">
            Already have an Account? <a href="#" hx-get="{% url 'account_login' %}" hx-target="body" hx-push-url="true" class="font-medium text-[#023E8A] hover:underline">sign in</a>.
        </p>
     </div>
    </div>
  
     <div class="mt-20 flex justify-center gap-10 select-none">
       <label for="accept-terms" class="font-medium text-sm text-[#FFFFFF] cursor-pointer">Terms & Conditions</label>
       <label for="contact-us" class="font-medium text-sm text-[#FFFFFF] cursor-pointer">Contact Us</label>
     </div>
  </div>

{% endblock content %}
