{% load common_filters %}
{% load static %}
{% load permission_tags %}

{% if rows %}
    {% for row in rows %}
        <tr class="bg-white border-b">
            {% for cell in row %}   
                <td class="px-6 py-4 text-sm font-medium text-[#7E8299]">
                    <div class="flex justify-center">
                        <div>
                            {% if not cell %}
                                <span class="text-[#7E8299]">-</span>
                            {% elif "span" in cell %}
                                {{ cell|safe }}
                            {% else %}
                                <span
                                    x-tooltip="{{cell|safe}}"
                                    class="cursor-pointer">
                                    {{ cell|safe|truncatechars:10 }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endif %}