{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="description" content="Your meta description goes here" />
  <meta name="keywords" content="your, meta, keywords, go, here" />
  <title>{% block title %} factryflow {% endblock title %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.8/htmx.min.js"
    integrity="sha512-wua2xfJY3quQbT5pSx40Tp5+LD/zpw/9hARj1zsjJOA+rCq7N7pf7wlBXXdn5iGjQI5HE7svGvPz529Q3gJDiA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
  {% include "base/theme.html" %} {% include "base/styles.html" %}

  <style>
    [x-cloak] { display: none !important; }
  </style>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'  x-data="{ showPassword: false ,showPassword1:false,isChecked:false}">
    <div class="flex flex-col justify-center items-center min-h-screen bg-cover bg-center bg-no-repeat bg-blue-900 relative" style="background-image: url('{% static 'images/auth/Effects.png' %}'); background-repeat: no-repeat;">
        <div class="flex items-center mt-7">
          <img src="{% static 'images/auth/fflogo.svg' %}" alt="fflogo" class="w-16 h-15 mr-4" />
          <h1 class="text-white text-center font-mohave text-5xl font-semibold pt-2">FactryFlow</h1>
        </div>
      
        <div class="bg-white mt-9 w-[600px] h-[456px] flex flex-col items-center justify-center shadow-md rounded-xl px-8  overflow-hidden">
            <form class="grid gap-2 w-full">
              <h1 class="text-[#181C32] text-2xl font-semibold text-center">Sign up for an account</h1>
            <div class="flex flex-col items-start gap-2">
              <label  class="text-[#181C32] font-semibold text-sm">Email Address<span class="text-[#FF4D4F]">*<span></label>
              <input type="text"  placeholder="Enter Email Address" class="w-full rounded-md border border-solid border-[#E1E3EA] p-[7px] focus:outline-none" />
            </div>                          
            <div class="flex flex-col items-start gap-2 relative">
              <label for="password1" class="text-[#181C32] font-semibold text-sm">Password<span class="text-[#FF4D4F]">*</span></label>
              <input :type="showPassword ? 'text' : 'password'" id="password1" placeholder="Enter Password" class="w-full rounded-md border border-solid border-[#E1E3EA] p-[7px] focus:outline-none" />
              <img class="h-5 w-5 absolute right-[15px] top-[40px] cursor-pointer" src="{% static 'images/visibility.svg' %}" x-on:click="showPassword = !showPassword" />
              <div  x-cloak x-show="showPassword" class="absolute top-[48px] right-[14px] cursor-pointer w-5 h-0.5 bg-[#7E8299] transform -rotate-45" x-on:click="showPassword = !showPassword"></div>
            </div>
            <div class="flex flex-col items-start gap-2 relative">
              <label for="password" class="text-[#181C32] font-semibold text-sm">Repeat Password<span class="text-[#FF4D4F]">*</span></label>
              <input :type="showPassword1 ? 'text' : 'password'" id="password" placeholder="Enter Password" class="w-full rounded-md border border-solid border-[#E1E3EA] p-[7px] focus:outline-none" />
              <img class="h-5 w-5 absolute right-[15px] top-[40px] cursor-pointer" src="{% static 'images/visibility.svg' %}" x-on:click="showPassword1 = !showPassword1" />
              <div x-cloak x-show="showPassword1" class="absolute top-[48.5px] right-[14px]  cursor-pointer w-5 h-0.5 bg-[#7E8299] transform -rotate-45" x-on:click="showPassword1 = !showPassword1"></div>
            </div>
            <div class="flex items-center justify-between mt-4">
                <div class="flex items-center">
                  <div class="flex relative">
                    <input type="checkbox" x-model="isChecked" id="accept-terms" class="peer h-5 w-5 shrink-0 appearance-none rounded border border-blue-900 focus:outline-none" />
                    <img x-cloak x-show="isChecked" @click="isChecked = !isChecked"  class="h-3 w-3 absolute right-1 top-[4px]" src="{% static 'images/check.svg' %}"/>
                  </div>
                    <label for="accept-terms" class="text-[#023E8A] font-semibold text-sm ml-2 select-none cursor-pointer"><span class="text-[#181C32]">I Accept the</span> Terms & Conditions</label>
                </div>
            </div>
            
            <button type="submit" class="w-full bg-[#023E8A] text-[#FFF] py-4 px-6 rounded font-semibold text-base mt-3">Sign Up</button>
      
            <div class="flex items-center justify-center mt-1">
              <p class="mr-2 text-[#7E8299]">Already have an Account?</p>
              <a href="/signin" class="text-blue-900 font-semibold text-sm no-underline">Sign in</a>
            </div>
          </form>
        </div>
        <div class="w-full flex justify-center gap-4  mt-16 mb-8 select-none">
          <label for="accept-terms" class="font-medium text-sm text-[#FFFFFF] cursor-pointer">Terms & Conditions</label>
          <label for="contact-us" class="font-medium text-sm text-[#FFFFFF] cursor-pointer">Contact Us</label>
      </div>
        
      </div>
      
  {% include "base/notifications.html" %}
</body>


</html>