{% extends "base/main.html" %}
{% load permission_tags %}

{% block title %}
{{ model_title }}
{% endblock title %}
{% load partials %}
{% load static %}
{% partialdef partial-table-template %}
<div x-data="{ runSchedulerDialog: false, showModal: false, selectAll: false }" x-init="$watch('selectAll', value => {
    document.querySelectorAll('#all-{{ model_name }}s-table tbody input[type=checkbox]').forEach(checkbox => checkbox.checked = value);
})">
    <!-- Modal -->
    <div id="run-scheduler-dialog" x-show="runSchedulerDialog" x-cloak x-on:keydown.escape.prevent.stop="runSchedulerDialog = false" role="dialog"
        aria-modal="true" class="fixed inset-0 z-10 overflow-y-auto">
        <!-- Overlay -->
        <div x-show="runSchedulerDialog" x-transition:enter="transition-opacity ease-in duration-150"
            x-transition:leave="transition-opacity ease-out duration-150" class="fixed inset-0 bg-black bg-opacity-50">
        </div>
        <!-- Panel -->
        <div x-show="runSchedulerDialog" x-transition:enter="transition-transform ease-out duration-150"
            x-transition:leave="transition-transform ease-in duration-150" x-on:click="runSchedulerDialog = false"
            class="relative flex min-h-screen items-center justify-center p-4">
            <div x-on:click.stop
                class="relative w-full max-w-lg overflow-y-auto rounded-xl bg-[#FFFFFF] px-0 py-5 shadow-lg">
                <!-- Title -->
                <div class="px-9 py-5 flex flex-col justify-center items-center gap-4">
                    <p class="text-[#5E6278] font-semibold text-xl">Scheduler has been started</p>
                    <p class="font-normal leading-8 text-[#7E8299] text-[20px] text-center font-sans">
                        Come after some time and check the result on the same page.
                    </p>
                </div>
                <!-- Button -->
                <div class="px-9 py-5 flex justify-center items-center gap-3">
                    <button type="button" x-on:click="runSchedulerDialog = false"
                        class="rounded-md bg-[#FF4D4F] py-4 px-10 text-white">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loader Animation Template -->
    {% comment %} This template will be used in the table for Started status {% endcomment %}
    <template id="loader-template">
        <div class="flex items-center gap-2">
            <div class="animate-spin rounded-full h-4 w-4 border-2 border-[#F6C000] border-t-transparent"></div>
            <span>Started</span>
        </div>
    </template>

    {% include 'components/common/table.html' %}
</div>
{% endpartialdef %}

{% partialdef partial-search-filter %}
    {% include 'components/common/search-filter.html' %}
{% endpartialdef %}

{% block content %}

<div class="flex justify-between items-center" x-cloak>
    {% include 'components/common/breadcrumb.html' %}

    {% if view_only %}
        <div class="flex">
            <button class="text-base font-semibold text-white px-6 py-3 bg-[#023E8A] rounded-md {% if active_scheduler_run %}opacity-50 cursor-not-allowed{% endif %}" 
            hx-post={% url 'start_scheduler_run' %} type="button" 
            {% if not active_scheduler_run %}
                hx-confirm="Are you sure you want to start the scheduler?"
                @click="runSchedulerDialog = !runSchedulerDialog"
            {% endif %}
            {% if active_scheduler_run %}disabled{% endif %}>{{ button_text }}</button>
        </div>
    {% endif %}
</div>

<!-- Tabs -->
<div x-data="{ activeTab: 'tab1' }" class="border-x border-y border-[#e1e3ea80] rounded-xl" x-cloak>
    <!-- Tabs -->
    {% include 'components/common/status_filter.html' %}

    <!-- Tab Content -->
    <div class="bg-white pt-6 rounded-b-xl flex">
        <div class="w-full"> <!-- x-show="activeTab === 'tab1'" -->
            {% partial partial-search-filter %}
            <div class="pt-6">
                <div class="relative table-container">
                    {% with table_id="all-{{ model_name }}s-table" %}
                        {% partial partial-table-template %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}